<nav class="main-header navbar navbar-expand navbar-white navbar-light" th:fragment="navbar" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
    </ul>
    <ul class="navbar-nav mx-auto">
        <li class="nav-item">
            <img src="/img/logo_full.png" alt="Logo" class="img-circle navbar-brand" height="50">
        </li>
    </ul>
    <!-- Right navbar links -->
    <ul class="navbar-nav">
        <form th:action="@{/logout}">
            <button type="submit" class="btn btn-danger">Log out</button></form>
    </ul>
</nav>