<aside class="main-sidebar sidebar-dark-primary elevation-4" th:fragment="main-sidebar-container"
       xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Brand Logo -->
    <a th:href="@{/}" class="brand-link">
        <img src="/img/logo.png"
             alt="AdminLTE Logo"
             class="brand-image img-circle elevation-3">
        <span class="brand-text font-weight-light"> - Dashboard</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar" id="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a th:href="@{/profil}" class="d-block"
                >
                    <div th:if="${session?.employee?.data != null}">
                        <span th:text="${session.employee.data.lastName}"></span> <span
                            th:text="${session.employee.data.firstName}"></span>
                    </div>
                    <div th:unless="${session?.employee?.data != null}">
                        <span>Alexander Pierce</span>
                    </div>
                </a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul id="items-menu" class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                data-accordion="false">
                <!--Accueil-->
                <li class="nav-item">
                    <a th:href="@{/}" class="nav-link" th:classappend="${session.module == 'home' ? 'active' : ''}">
                        <i class="fas fa-home nav-icon"></i>
                        <p>
                            Accueil
                        </p>
                    </a>
                </li>
                <!--Demandes-->
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link" th:classappend="${session.module == 'requests' ? 'active' : ''}">
                        <i class="nav-icon fas fa-bars"></i>
                        <p>
                            Demandes
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a th:href="@{/demandes}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Toutes demandes</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/demandes/unassigned}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Demandes non affectées</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <!--Employees-->
                <li class="nav-item">
                    <a th:href="@{/employees}" class="nav-link"
                       th:classappend="${session.module == 'employees' ? 'active' : ''}">
                        <i class="nav-icon fas fa-book"></i>
                        <p>
                            Employees
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/poubelles}" class="nav-link"
                       th:classappend="${session.module == 'poubelles' ? 'active' : ''}">
                        <i class="nav-icon fas fa-trash-restore"></i>
                        <p>
                            Poubelles
                        </p>
                    </a>
                </li>
                <li style="margin-top: 2rem" class="nav-item" th:if="${(session.employee.data.nomFonction != null) and (session.employee.data.nomFonction == 'directeur')}">
                    <form th:action="@{/assigner_tournee}" method="post" class="nav-link">

                        <button class="btn btn-primary" type="submit">
                            <i class="nav-icon fas fas fa-recycle"></i>
                            Assigner tournées
                        </button>
                    </form>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>