<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/layout}"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>RecyclR</title>
</head>
<body class="hold-transition sidebar-mini pace-primary">
<!-- Content Wrapper. Contains page content -->
<!-- Content Header (Page header) -->

<section class="content-header" layout:fragment="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Demandes non assignées</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                    <li class="breadcrumb-item active">Demandes</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content" layout:fragment="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Demande <span th:text="${test}">Toto</span></h3>
        </div>
        <div class="card-body table-responsive p-0">
            <table id="datatable" class="table table-hover text-nowrap">
                <thead>
                <tr>
                    <th>Numéro demande</th>
                    <th>Type de déchet</th>
                    <th>Quantité à enlever</th>
                    <th>Detail</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="demande: ${requestList}">
                    <td th:text="${demande.noDemande}"></td>
                    <td th:text="${demande.typeDechet}"></td>
                    <td th:text="${demande.quantiteDemande}"></td>
                    <td><a th:href="@{/demandes/detail(id=${demande.noDemande})}"><i
                            class="fas fa-plus-square"></i></a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
<script src="/js/requestsNoSubmit.js" layout:fragment="scripts"></script>
</body>
</html>
