<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/layout}"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>RecyclR</title>
</head>
<body>
<!-- Content Wrapper. Contains page content -->
<section class="content-header" layout:fragment="content-header">
    <div class="container-fluid">

        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Demandes</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                    <li class="breadcrumb-item active">Demandes</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content" layout:fragment="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- Card filtre -->
                <div class="card card-outline card-success collapsed-card">
                    <div class="card-header">
                        <h3 class="card-title">Filtre</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                    class="fas fa-plus"></i>
                            </button>
                        </div>
                        <!-- /.card-tools -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <p>No Demande:</p>
                                <input type="number" placeholder="Numéro de la demande" id="noDemandePicker">
                            </div>
                            <div class="col-6">
                                <p>Date:</p>
                                <input id="datepicker_from" type="date" name="table_search"
                                       class="form-control float-right"
                                       placeholder="Search">
                            </div>

                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <!--                            <h3 class="card-title">Responsive Hover Table</h3>-->
                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 200px;">
<!--                                <input id="datepicker_from" type="date" name="table_search"-->
<!--                                       class="form-control float-right"-->
<!--                                       placeholder="Search">-->
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table id="datatable" class="table table-hover text-nowrap">
                            <thead>
                            <tr>
                                <th>Numéro demande</th>
                                <th>Date demande</th>
                                <th>Site</th>
                                <th>Raison Sociale</th>
                                <th>Detail</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="demande: ${demandes}">
                                <td class="row-id" th:text="${demande.noDemande}"></td>
                                <td class="row-date" th:text="${#dates.format(demande.DATEDEMANDE, 'yyyy-MM-dd HH:mm')}"></td>
                                <td th:text="${demande.villeSite}"></td>
                                <td type="text" th:text="${demande.raisonSociale}"></td>
                                <td><a th:href="@{/demandes/detail(id=${demande.noDemande})}"><i
                                        class="fas fa-plus-square"></i></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>

</section>
<script src="/js/requests.js" layout:fragment="scripts"></script>
<!-- /.content-wrapper -->

</body>
</html>
