<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/layout}"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>RecyclR</title>
</head>
<body class="hold-transition sidebar-mini pace-primary">
<!-- Content Wrapper. Contains page content -->
<!-- Content Header (Page header) -->

<section class="content-header" layout:fragment="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Detail</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                    <li class="breadcrumb-item"><a th:href="@{/demandes}">Demandes</a></li>
                    <li class="breadcrumb-item active">Detail</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content" layout:fragment="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Demande <span th:text="${param.id}">Toto</span></h3>

            <div class="card-tools">
                <!--                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"-->
                <!--                        title="Collapse">-->
                <!--                    <i class="fas fa-minus"></i></button>-->
                <!--                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip"-->
                <!--                        title="Remove">-->
                <!--                    <i class="fas fa-times"></i></button>-->
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
                    <div class="row">
                        <div class="col-12">
                            <div class="info-box bg-light">
                                <div class="info-box-content">
                                    <span class="info-box-text text-center text-muted">Tournée</span>
                                    <span class="info-box-number text-center text-muted mb-0">
                                        <div th:if="${request.detailsRequest != null and !request.detailsRequest.isEmpty()}">
                                            <div th:each="detail: ${request.detailsRequest}">
                                                <span th:text="${detail.typeDechet}"></span>
                                                <span th:text="${detail.noTournee != null ? detail.noTournee : 'Pas de tournée associée'}"></span>
                                            </div>
                                        </div>
                                        <div th:unless="${request.detailsRequest != null and !request.detailsRequest.isEmpty()}">Pas de tournée associée</div>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h4>Déchets à récolter</h4>
                            <dl th:each="detail: ${request.detailsRequest}">
                                <dt th:text="${detail.typeDechet}"></dt>
                                <dd><span>Quantité à récupérer: </span><span th:text="${detail.quantiteDemande}"></span>
                                </dd>
                                <dd><span>Quantité récupérée: </span><span th:text="${detail.quantiteEnlevee}"></span>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
                    <h3 class="text-primary"> Entreprise</h3>
                    <div class="text-muted">
                        <p class="text-sm">Ville site
                            <b class="d-block" th:text="${request.villeSite}">Deveint Inc</b>
                        </p>
                        <p class="text-sm">Raison Sociale
                            <b class="d-block" th:text="${request.raisonSociale}">Deveint Inc</b>
                        </p>
                        <p class="text-sm">Personne à contacter
                            <b class="d-block" th:text="${request.contact}">Tony Chicken</b>
                            <b class="d-block" th:text="${request.noTel}">Tony Chicken</b>
                        </p>
                    </div>

                </div>
            </div>

        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
</body>
</html>
