<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <meta http-equiv="refresh" content="5;url=https://recyclr.herokuapp.com/" />
    <title>RecyclR</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/webjars/bootstrap/4.4.1/css/bootstrap.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/webjars/font-awesome/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="/webjars/ionicons/css/ionicons.min.css">
    <!-- pace-progress -->
    <link rel="stylesheet" href="webjars/lgaitan__pace-progress/dist/themes/black/pace-theme-flat-top.css">
    <!-- adminlte-->
    <link rel="stylesheet" href="/css/adminlte.min.css">
    <!-- datatables -->
    <link rel="stylesheet" href="webjars/datatables/css/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="webjars/datatables.net-bs4/css/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="webjars/datatables/1.10.21/css/jquery.dataTables.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body>
<!-- Content Wrapper. Contains page content -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Erreur 500</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                    <li class="breadcrumb-item active">Erreur</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!--Main content-->
<section class="content">
    <div class="error-page">
        <h2 class="headline text-danger">500</h2>

        <div class="error-content">
            <h3><i class="fas fa-exclamation-triangle text-danger"></i> Oops! Une erreur s'est produite.</h3>

            <p>
                Nous travaillons activement pour la résoudre.
                En attendant, vous allez être redirigé, ou cliquez <a th:href="@{/}">ici</a>.
            </p>
        </div>
    </div>
</section>
<!-- /.content-wrapper -->
</body>
</html>
