<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/layout}"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>RecyclR</title>
</head>
<body>
<!-- Content Wrapper. Contains page content -->
<section class="content-header" layout:fragment="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Erreur 404</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                    <li class="breadcrumb-item active">Erreur</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content" layout:fragment="content">
    <div class="error-page">
        <h2 class="headline text-warning"> 404</h2>

        <div class="error-content">
            <h3><i class="fas fa-exclamation-triangle text-warning"></i> Oops! Page non trouvée.</h3>
            <p>
                We could not find the page you were looking for.
                Meanwhile, you may <a th:href="@{/}">return to dashboard</a> .
            </p>
        </div>
        <!-- /.error-content -->
    </div>
</section>
<!-- /.content-wrapper -->
</body>
</html>
