<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/layout}"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>RecyclR</title>
</head>
<body class="hold-transition sidebar-mini pace-primary">
<!-- Content Wrapper. Contains page content -->
<!-- Content Header (Page header) -->

<section class="content-header" layout:fragment="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Accueil</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item active">Home</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content" layout:fragment="content">

    <div class="row">
        <!--    Demandes non traitées    -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
                <div class="inner">
                    <h3 th:text="${countRequestNoSubmit}">150</h3>

                    <p th:if="${countRequestNoSubmit} gt 1">Détail de demandes non traitées</p>
                    <p th:unless="${countRequestNoSubmit} gt 1">Détail de demande non traitée</p>
                </div>
                <div class="icon">
                    <i class="fas fa-bars nav-icon"></i>
                </div>
                <a th:href="@{/demandes/unassigned}" class="small-box-footer">More info <i
                        class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <!--    Dechet collectés    -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
                <div class="inner">
                    <h3><span th:text="${numberOfWaste}"></span><sup style="font-size: 20px">kg</sup></h3>

                    <p>de déchets collectés ce mois</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a th:href="@{/?(dateFrom=${dateBegin},dateTo=${dateEnd})}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <!--    Nombre de tournées    -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
                <div class="inner">
                    <h3 th:text="${numberOfTour}">44</h3>

                    <p>Tournées effectuées</p>
                </div>
                <div class="icon">
                    <i class="fas fa-sync-alt"></i>
                </div>
                <a th:href="@{/employees}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <!--    Liposum    -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
                <div class="inner">
                    <h3>130</h3>

                    <p>Liposum</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->

    </div>

    <!--  Graph quantite total par type de déchet  -->
    <div class="row">
        <div class="col-sm-9">
            <div class="card card-success">
                <div class="card-header">
                    <h3 class="card-title">Quantité totale récupérée par type de déchet du <span
                            th:text="${dateFrom}"></span> au <span th:text="${dateTo}"></span></h3>
                    <div class="card-tools">
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <canvas id="myChart" width="400" height="100"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- Filter card -->
        <div class="col-sm-3">
            <div class="card card-success">
                <div class="card-header">
                    <h3 class="card-title">Filtre</h3>
                    <div class="card-tools">
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div th:if="${(param.typeDechet != null) and (param.typeDechet[0] == 'empty')}"
                                 class="alert alert-warning alert-dismissible">
                                <i class="icon fas fa-exclamation-triangle"></i>
                                Remplissez correctement le champs Type déchet
                            </div>
                            <div th:if="${(param.typeDechet != null) and (param.typeDechet[0] == 'unknown')}"
                                 class="alert alert-warning alert-dismissible">
                                <i class="icon fas fa-exclamation-triangle"></i>
                                Type de déchet inconnu
                            </div>
                            <form th:action="@{/updategraph}" method="post" th:object="${dateForm}">
                                <label>
                                    Du <input type="month" class="form-control" placeholder="YYYY-MM" name="dateFrom"
                                              th:field="*{dateFrom}">
                                </label>

                                <label>
                                    Au <input type="month" class="form-control" placeholder="YYYY-MM" name="dateTo"
                                              th:field="*{dateTo}" value="2020-06">
                                </label>
                                <label>
                                    Filtrer par
                                    <select th:field="*{filterChoice}" id="filterChoice">
                                        <option value=""> --</option>
                                        <option value="typeDechet">Type de dechet</option>
                                        <option value="site">Site</option>
                                    </select>
                                </label>
                                <div id="typeDechet" class="hidden">
                                    <label>
                                        Type déchet <select th:field="*{typeDechet}">
                                        <option th:each="dechet : ${allWasteTypes}" th:value="${dechet.noTypeDechet}" th:text="${dechet.typeDechet}">--</option>
                                    </select>
                                    </label>
                                </div>
                                <div id="siteLabel" class="hidden">
                                    <label> Site
                                        <select th:field="*{site}">
                                            <option  th:each="s : ${allSites}" th:value="${s.noSite}" th:text="${s.nomSite}">--</option>
                                        </select>
                                    </label>
                                </div>
                                <button type="submit" class="btn btn-success btn-block">Valider</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript" type="text/javascript">
        /*<![CDATA[*/
        let requestsList = /*[[${wasteList}]]*/ [];
        /*]]>*/
    </script>
</section>
<!-- /.content -->
<script src="/js/home.js" layout:fragment="scripts"></script>
</body>
</html>
