<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>RecyclR | Log in</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/webjars/font-awesome/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="/webjars/ionicons/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="/webjars/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- adminlte-->
    <link rel="stylesheet" href="/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        <img src="img/logo.png" class="rounded mx-auto d-block"> <br/>
        <b>RecyclR - Panel</b>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Se connecter</p>
            <div th:if="${param.empty_field}" class="alert alert-warning alert-dismissible">
                <i class="icon fas fa-exclamation-triangle"></i>
                Veuillez remplir tous les champs.
            </div>
            <div th:if="${(param.error != null) and (param.error[0] == '1')}"
                 class="alert alert-warning alert-dismissible">
                <i class="icon fas fa-exclamation-triangle"></i>
                Email ou mot de passe incorect.
            </div>
            <div th:if="${(param.error != null) and (param.error[0] == '2')}"
                 class="alert alert-warning alert-dismissible">
                <i class="icon fas fa-exclamation-triangle"></i>
                Vous devez changer votre mot de passe. <a th:href="@{/forgot_password}">Cliquez ici</a>
            </div>
            <div th:if="${(param.error != null) and (param.error[0] == '3')}"
                 class="alert alert-warning alert-dismissible">
                <i class="icon fas fa-exclamation-triangle"></i>
                Trop d'appareils sont connectés en même temps, veuillez vous déconnectez en cliquant
                <a th:href="@{/reset_session}">ici</a>
            </div>
            <div th:if="${(param.logout != null) and (param.logout[0] == 'success')}"
                 class="alert alert-success alert-dismissible">
                <i class="icon fas fa-exclamation-triangle"></i>
                Déconnexion réussie
            </div>
            <div th:if="${(param.logout != null) and (param.logout[0] == 'failed')}"
                 class="alert alert-warning alert-dismissible">
                <i class="icon fas fa-exclamation-triangle"></i>
                Vous avez rencontré un problème lors de la déconnexion
            </div>
            <div th:if="${(param.error != null) and (param.error[0] == '')}"
                 class="alert alert-warning alert-dismissible">
                <i class="icon fas fa-exclamation-triangle"></i>
                Une erreur est survenue.
            </div>
            <!--  Formulaire -->
            <form th:action="@{/authuser}" method="post" th:object="${employee}">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Username" name="username"
                           th:field="*{data.login}">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="Password" name="password"
                           th:field="*{data.password}">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- /.col -->
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block">Se connecter</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
            <div class="row">
                <p class="mb-1">
                    <a th:href="@{/forgot_password}">J'ai oublié mes identifiants</a>
                </p>
            </div>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>
<!-- /.login-box -->

<!-- jQuery -->
<script src="/webjars/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>