<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/layout}"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>RecyclR</title>
</head>
<body>
<!-- Content Wrapper. Contains page content -->
<section class="content-header" layout:fragment="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Poubelles</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                    <li class="breadcrumb-item active">Poubelles</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content" layout:fragment="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <!--                            <h3 class="card-title">Responsive Hover Table</h3>-->
                        <h4>Information sur les poubelles</h4>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <canvas id="myChart"></canvas>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <canvas id="myChart2"></canvas>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
    <script th:inline="javascript" type="text/javascript">
        /*<![CDATA[*/
        let trashcansList = /*[[${trashCansList}]]*/ [];
        /*]]>*/
    </script>
</section>
<script src="/js/trashcans.js" layout:fragment="scripts"></script>
<!-- /.content-wrapper -->
</body>
</html>
