<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/layout}"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>RecyclR</title>
</head>
<body>
<!-- Content Wrapper. Contains page content -->
<section class="content-header" layout:fragment="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Profil</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                    <li class="breadcrumb-item active">User Profile</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content" layout:fragment="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">

                <!-- Profile Image -->
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <img class="profile-user-img img-fluid img-circle"
                                 src="/img/user2-160x160.jpg"
                                 alt="User profile picture">
                        </div>

                        <h3 class="profile-username text-center"><span
                                th:text="${session.employee.data.firstName}"></span> <span
                                th:text="${session.employee.data.lastName}"></span></h3>

                        <p class="text-muted text-center" th:text="${session.employee.data.nomFonction}">POSTE</p>

                        <ul class="list-group list-group-unbordered mb-3">
                            <li class="list-group-item">
                                <b>Email</b> <a class="float-right"><span
                                    th:text="${session.employee.data.email}"></span></a>
                            </li>
                            <li class="list-group-item">
                                <b>Age</b> <a class="float-right">23</a>
                            </li>
                            <li class="list-group-item">
                                <b>Date de naissance</b> <a class="float-right" th:text="${session.employee.data.dateNaissance}">01/01/1900</a>
                            </li>
                            <li class="list-group-item">
                                <b>Site</b> <a class="float-right" th:text="${session.employee.data.nomSite}">Paris</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header p-2">
                        Mes statistiques
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-12">
                                <div class="info-box bg-gradient-success">
                                    <span class="info-box-icon"><i class="fas fa-truck"></i></span>

                                    <div class="info-box-content">
                                        <span class="info-box-text">Nombre de tournées effectuées</span>
                                        <span class="info-box-number" th:text="${nbTournee}">41,410</span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </div>
                        </div>
                    </div><!-- /.card-body -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
</section>

<!-- /.content-wrapper -->
</body>
</html>
